#searchbar{
    font-size: 18pt;
    height: 42px;
    width : 300px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    alignment: right;
    align-content: end;
    alignment-baseline: middle;
    align-items: end;
    align-self: end;
}

#searchbutton{
    font-size: 18pt;
    height: 42px;
    width : 100px;
    font-weight: bold;
    margin-left: 10px;
    color: white;
    background-color: #FF2222;
    border-radius: 10px;
}
